/* fonts */
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700);

html, body {
    height: 100%;
    font-family: ubuntu;
    line-height: 1.5;
    font-weight: 300;
}
/* my lebriray */

ul {
    list-style: none;
}

.padding {
    padding: 40px 0
}

.upper {
    text-transform: uppercase;
}

.white {
    color: #FFF;
}
.rcColor{
    color: #1B75BB;
}

/*-- header --*/

#mopile.header {
    height: 600px;
    background: url('../img/Mob2.jpg');
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

#header.header {
    background: url('../img/overlay.png'), url('../img/requestN.jpg');
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    position: relative;
}

.p-overlay {
    background: url('../img/pattern-overlay.png');
    /* background-size: 60px; */
    background-repeat: repeat;
    position: absolute;
    height: 100%;
    width: 100%;
}

#contact.header {
    height: 600px;
    background: url('../img/Head3.jpg');
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

#demoreq.header {
    height: 600px;
    background: url('../img/request.jpg');
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

#lineOfBusniness.header {
    background: url('../img/Head1.jpg');
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    position: relative;
}
#product.header {
    position: relative;
    background: url('../img/overlay.png'), url('../img/Head2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/*
    header End
*/

.header-cont {
    overflow: hidden;
}

.footer-box ul.social {
    margin: 0;
    padding: 0;
    text-align: center;
}

.header-cont h2 {
    font-size: 30px;
    height: 150px;
    color: #eee;
}

/* navigation start */
.navbar-default {
    border: 0;
    border-radius: 0;
    margin: 0;
    background: #222;
    height: 85px;
    box-shadow: 0 0 20px #000;
}

.navbar-brand {
    float: left;
    padding: 0;
    font-size: 18px;
    line-height: 20px;
}

.nav>li {
    position: relative;
    margin: 27px auto;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    /* line-height: 55px; */
    text-transform: capitalize;
    padding: 5px 10px;
    margin: 0 5px auto;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
}

.navbar-nav a.btn {
    color: #fff !important;
    padding: 6px 20px !important;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #ddd;
    background-color: transparent;
}

.navbar-brand>img {
    display: block;
    width: 26%;
    padding: 6px 0;
}

.navbar-toggle {
    background-color: rgb(56, 56, 56);
     margin-top: 26px;
}

/* navigation End */

/* footer start */
.footer {
    background: url('../img/footer.jpg');
    background-size: cover;
    padding: 50px 0 10px
}

.footer-box p {
    font-weight: 300;
}

.footer-box img {
    width: 50%;
    margin: auto;
}

.footer-box ul.help li {
    display: inline-block;
}

.footer-box ul.help li a {
    color: #FFF;
    text-transform: uppercase;
    padding: 0 10px;
    text-align: center;
}

.footer-box ul.details li .fa {
    font-size: 25px;
    margin: 5px 10px;
}

.footer-box input.form-control {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 0;
    padding: 25px 10px;
    float: left;
    color: #fff;
}

.footer-box input::-webkit-input-placeholder {
    color: #fff;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 300;
}

.footer-box ul.social {
    margin: 0;
    padding: 0;
}

.footer-box ul.social li {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 10px 5px;
}

.footer-box ul.social li a {
    color: #fff;
    font-size: 25px;
    /* width: 50px; */
    /* height: 50px; */
}

.footer-box .copy p {
    font-size: 15px;
}

/*
    LOB
*/
section.lob-icons {
    background: #222;
    padding: 10px 0;
}

.lob-icons h3 {
    font-weight: 400;
    margin: -20px auto;
}

ul.icons {
    text-align: center;
    padding: 0;
}

ul.icons li {
    display: inline-block;
    /* padding: 0 80px; */
    margin: 0 80px;
    width: 140px;
    height: 140px;
    line-height: 140px;
    border: 2px solid;
    border-radius: 50%;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 89px;
    font-style: normal;
    text-align: center;
    margin-left: 0;
}

.product {
    margin: 40px auto;
}

.green-l  {
    background: url('../img/footer.jpg');
    background-size: cover;
    padding: 80px 0
}

.green-r {
    padding: 80px 0
}

.btn-primary {
    background-color: #3997E8;
    padding: 10px 20px
}

.green-r .btn-primary ,
.green-l .btn-primary {
    color: #fff;
    background-color: rgba(26, 141, 147, 0.59);
    border-color: #1C929B;
}

.r-box {
    color: #168990;
}


.prdct-d {
    position: relative;
}
/*
    index
*/
.products-kind {
    background: #222;
}

.name-k {
    padding: 0 100px;
}

.name-k h2 {
    margin: -20px auto 10px;
}
.about-box {
    overflow: hidden;
    margin: 20px;
}
.about-box .fa {
    color: #008BD0;
    font-size: 50px;
    text-align: center
}

.about-box .h2 {
    color: #5FAD5F;
}
.aboutme {
    background: url('../img/overlay.png'),
        url('../img/stars.jpg');
    background-size: cover;
    background-attachment: fixed;
}
section.aboutme img {
    margin: auto;
    width: 20%;
}

.mobile {
    background: url('../img/Mob2.jpg');
    background-size: cover;
    background-position: bottom
}

.clients img {
    margin: auto;
}

.form input {
    margin: 10px auto
}

.textarea {
    width: 100%;
    height: 150px;
    border-radius: 5px;
    padding: 10px;
    border-color: #ddd
}

.googleMap {
    height: 400px;
}
.icons-mop {
    width: 100%;
    text-align: center;
    padding: 0
}
.icons-mop li {
    display: inline-block;
    margin: 0 60px auto
}

.app-mop .btn {
    width: 100%
}

.screen-shoot img {
    width: 140px;
    display: inline-block;
}
.spec {
    background: #EFEEEE;
}

.products {
    background: url('../img/overlay.png'), url('../img/stars.jpg');
    background-size: cover;
    background-attachment: fixed;
}
