    /*
    Flaticon icon font: Flaticon
    Creation date: 01/03/2016 12:40
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-arrows:before { content: "\f100"; }
.flaticon-arrows-1:before { content: "\f101"; }
.flaticon-arrows-2:before { content: "\f102"; }
.flaticon-arrows-3:before { content: "\f103"; }
.flaticon-computer:before { content: "\f104"; }
.flaticon-computer-1:before { content: "\f105"; }
.flaticon-computer-2:before { content: "\f106"; }
.flaticon-computer-3:before { content: "\f107"; }
.flaticon-computer-4:before { content: "\f108"; }
.flaticon-interface:before { content: "\f109"; }
.flaticon-internet:before { content: "\f10a"; }
.flaticon-internet-1:before { content: "\f10b"; }
.flaticon-logo:before { content: "\f10c"; }
.flaticon-material:before { content: "\f10d"; }
.flaticon-screen:before { content: "\f10e"; }
.flaticon-square:before { content: "\f10f"; }
.flaticon-technology:before { content: "\f110"; }
.flaticon-technology-1:before { content: "\f111"; }
.flaticon-technology-2:before { content: "\f112"; }
.flaticon-technology-3:before { content: "\f113"; }
.flaticon-technology-4:before { content: "\f114"; }
.flaticon-web:before { content: "\f115"; }
    
    $font-Flaticon-arrows: "\f100";
    $font-Flaticon-arrows-1: "\f101";
    $font-Flaticon-arrows-2: "\f102";
    $font-Flaticon-arrows-3: "\f103";
    $font-Flaticon-computer: "\f104";
    $font-Flaticon-computer-1: "\f105";
    $font-Flaticon-computer-2: "\f106";
    $font-Flaticon-computer-3: "\f107";
    $font-Flaticon-computer-4: "\f108";
    $font-Flaticon-interface: "\f109";
    $font-Flaticon-internet: "\f10a";
    $font-Flaticon-internet-1: "\f10b";
    $font-Flaticon-logo: "\f10c";
    $font-Flaticon-material: "\f10d";
    $font-Flaticon-screen: "\f10e";
    $font-Flaticon-square: "\f10f";
    $font-Flaticon-technology: "\f110";
    $font-Flaticon-technology-1: "\f111";
    $font-Flaticon-technology-2: "\f112";
    $font-Flaticon-technology-3: "\f113";
    $font-Flaticon-technology-4: "\f114";
    $font-Flaticon-web: "\f115";